.form {
    margin-right: .3em;
    display: flex;
    align-items: center;
}

.input, .button{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-right: .3em;
}

.input {
    box-sizing: border-box;
    color: #494949;
    font-size: 1.3em;
    height: 1.5em;
    width: 10em;
    padding-left: .7em;
    border: 2px #dddddd solid;
    transition: background-color .5s;
}

.input:hover {
    background-color: #fcfcfc;
}
.input:focus {
    background-color: #f2f2f2;
}

.button {
    font-size: 1.1em;
    background-color: #8abd83;
    /*background-color: #ecab56; // When join button pressent*/ 
    height: 1.8em;
    padding: 0 1em;
    transition: box-shadow .3s;

    /* animation taken from hover.css */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.button:hover, .button:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.joinButton {
    background-color: #8abd83;
}
