.dateEl {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2em;
}

.date {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    padding-bottom: .2em;
    border-bottom: 1px solid black;
}
