.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .6em 0;
    border-top: 1px solid #cecece;

    transition: background-color .4s ease-in-out;
}

.cont:hover {
    background-color: #cecece;
}

.name {
    margin-left: 1em;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}
